/*BODY*/
body{
    background-color:#E37D42  ;    
    top:0px;
    left:0px;
    right:0px;
}

header, main{
    width: 100%;
}

/*HEADER*/
.topDisplay{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    color: #63371D;
}

.questionNumber, .correctAnswers{
    padding: 5px 50px ;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    color: #63371D;
}


/*BOX*/
.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.middleBox, .button-container, .questionBox, .endingBox{
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    text-align: center;
}

.box{
    display: flex;  
    border-style: solid;
    border-color: #A87C63;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: #DFD8D4;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.5);
}

img{
    width: 350px;
    height: 300px;
    position: solid;
    border-radius: 8px;
    border-color: #A87C63;
    border-style: solid;
    border-width: 1.5px;
    box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.5);
}
/*BUTTON*/

.button-container{
    padding-bottom: 40px;
}


.questionBox, .endingBox{
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

/* INSIDE BOX STYLING */

h2{
    font-family: 'Heebo', sans-serif; 
    color: #63371D;
}

.corrected{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;  
    color: #63371D;
}

form{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.js-answers{
    display: block;
}

label {
    display: block;
    margin-bottom: 5px;
    padding: 0.5em;
    cursor: pointer;
    color: #63371D;
    font-weight: 800;
}
input {
    position: relative;
    right: 70px;
    top: 30px;
}
input[type="radio"] {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(0deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%),
                      -webkit-linear-gradient(90deg, transparent 20%, hsla(0,0%,100%,.7), transparent 80%);
    border-radius: 10px;
    height: 12px;
    width: 12px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.6);
    cursor: pointer;
    -webkit-appearance: none;
}
input[type="radio"]:after {
    border-radius: 6px;
    content: '';
    display: block;
    height: 12px;
    width: 12px;
}
input[type="radio"]:checked:after {
    background-color: #f66;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.4);
    border-radius: inherit;
    border-radius: 6px;
}

button{
    border: 1px #A87C63 solid;
    background-color: #E37D42;
    color: #ffffff;
    font-family: 'Heebo', sans-serif;
}